<div class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div
          class="row row-cols-4 row-cols-xl-2 g-5 gy-xl-3 gx-lg-4 row-cols-md-1"
        >
          <div class="col-4">
            <div class="footer__column">
              <div class="footer__logo-top">
                <a href="./" class="logo">
                  <img
                    src="./assets/img/logo_movin.png"
                    alt="MOVIN"
                    class="logo__img footer__logo"
                  />
                </a>
                <h1 class="footer__slogan">FILM-MOMENT-EXPERIENCE</h1>
              </div>
              <ul class="footer__list">
                <!-- logo -->

                <li class="footer__item">
                  <span class="footer__phone">Hotline: 0373460755</span>
                </li>
                <li class="footer__item">
                  <span class="footer__time"
                    >Working hours: 8:00 - 22:00 (All days including
                    holidays)</span
                  >
                </li>
                <li class="footer__item">
                  <a
                    target="_blank"
                    href="https://mail.google.com/mail/u/0/#search/tuyenbest1234%40gmail.com?compose=new"
                    class="footer__email"
                    >Email: tuyenbest1234@gmail.com
                  </a>
                </li>
                <li class="footer__item">
                  <a
                    target="_blank"
                    href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+S%C6%B0+ph%E1%BA%A1m+K%E1%BB%B9+thu%E1%BA%ADt+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh/@10.8506324,106.7719131,15z/data=!4m2!3m1!1s0x0:0x282f711441b6916f?sa=X&ved=1t:2428&ictx=111"
                    class="footer__address"
                    >Address : 01 Vo Van Ngan Street, Linh Chieu, Thu Duc, Ho
                    Chi Minh City
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-2">
            <div class="footer__column">
              <h2 class="footer__heading">MOVIN VIETNAM</h2>
              <ul class="footer__list">
                <li class="footer__item underline-animation">
                  <a href="" class="footer__link">Introduce</a>
                </li>
                <li class="footer__item">
                  <a href="" class="footer__link">Online Utilities</a>
                </li>
                <li class="footer__item">
                  <a href="" class="footer__link">Gift Cards</a>
                </li>
                <li class="footer__item">
                  <a href="" class="footer__link">Recruitment</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-3">
            <div class="footer__column">
              <h2 class="footer__heading">TERMS OF USE</h2>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="" class="footer__link">Privacy Policy</a>
                </li>
                <li class="footer__item">
                  <a href="" class="footer__link">Terms of Service</a>
                </li>
                <li class="footer__item">
                  <a href="" class="footer__link">Cookies Settings</a>
                </li>
                <li class="footer__item">
                  <a href="" class="footer__link">Payment Policy</a>
                </li>
                <li class="footer__item">
                  <a href="" class="footer__link">Privacy Policy</a>
                </li>
                <li class="footer__item">
                  <a href="" class="footer__link">Frequently Asked Questions</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-3">
            <div class="footer__column">
              <h2 class="footer__heading">CONNECTS WITH US</h2>
              <ul class="footer__social-list">
                <li class="footer__social-item">
                  <a
                    target="_blank"
                    href="https://www.facebook.com/profile.php?id=100053063137782"
                    class="footer__social-link"
                  >
                    <img
                      src="../assets/icon/facebook.svg"
                      alt=""
                      class="footer__social-img"
                    />
                  </a>
                </li>
                <li class="footer__social-item">
                  <a
                    target="_blank"
                    href="https://www.instagram.com/blink45653/"
                    class="footer__social-link"
                  >
                    <img
                      src="../assets/icon/instagram.svg"
                      alt=""
                      class="footer__social-img"
                    />
                  </a>
                </li>
                <li class="footer__social-item">
                  <a
                    target="_blank"
                    href="https://x.com/tuyentran1293"
                    class="footer__social-link"
                  >
                    <img
                      src="../assets/icon/twiter.svg"
                      alt=""
                      class="footer__social-img"
                    />
                  </a>
                </li>
                <li class="footer__social-item">
                  <a
                    target="_blank"
                    href="https://zalo.me/0853485318"
                    class="footer__social-link"
                  >
                    <img
                      src="../assets/icon/zalo.svg"
                      alt=""
                      class="footer__social-img"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="row">
      <div class="footer__c">©2024, All right reserved.</div>
    </div>
  </div>
</div>
