<div class="container">
    <div class="top-bar">
      <button
        class="top-bar__more icon d-none d-xl-block js-toggle"
        toggle-target="#navbar"
      >
        <img src="./assets/icon/more.svg" alt="" class="top-bar__more" />
      </button>
      <!-- logo -->
      <a href="./" class="logo logo__header">
        <img src="./assets/img/logo_movin.png" alt="MOVIN" class="logo__img" />
      </a>
      <!-- search bar -->
      <div class="search-bar">
        <input
          type="text"
          name=""
          id=""
          placeholder="Search for item"
          class="search-bar__input"
        />
        <div class="search-bar__search">
          <button class="search-bar__submit">
            <img
              src="./assets/icon/search.svg"
              alt=""
              class="search-bar__icon icon"
            />
          </button>
        </div>
      </div>
      <!-- navbar -->
      <nav id="navbar" class="navbar hide">
        <div class="navbar__top d-none d-xl-flex">
          <button
            class="navbar__close--btn js-toggle icon d-none d-xl-block"
            toggle-target="#navbar"
          >
            <img src="./assets/icon/close.svg" alt="" class="navbar-close icon" />
        </button>
          <img src="./assets/img/avatar/avatar-1.jpg" alt="" class="avatar" />
          <h1 class="navbar__name">
            Hello,<span class="navbar__name-user">Ly Dang Trieu</span>
          </h1>
        </div>
   
        <ul class="navbar__list js-dropdown-list">
          <!-- nav - item 1  -->
          <li class="navbar__item js-toggle" toggle-target="#nav-item-1">
            <a href="#!" class="navbar__link " >
              Movie
              <img
                src="./assets/icon/arrow-down.svg"
                alt=""
                class="icon navbar-arrow"
              />
            </a>
  
            <div class="dropdown " id="nav-item-1" >
              <img src="./assets/icon/arrow-up.png" alt="" class="navbar-top d-xl-none" />
              <div class="navbar__return d-none d-xl-flex">
                <img src="./assets/icon/arrow-left-solid.svg" alt="" class="navbar__return-icon icon">
                <h1 class="navbar__return-text">Main Menu</h1>
              </div>
              <div class="dropdown__inner">
                <div class="sub-menu">
                  <!-- column 1  -->
                  <div class="sub-menu__column">
                    <div class="menu-column">
                      <ul class="menu-column__list">
                        <li>
                          <a class="menu-column__link" href="#!">Now showing</a>
                        </li>
                        <li>
                          <a class="menu-column__link" href="#!">Coming soon </a>
                        </li>
                        <li>
                          <a class="menu-column__link" href="#!"
                            >Early screening</a
                          >
                        </li>
                        <li>
                          <a class="menu-column__link" href="#!"
                            >Movies in 9/2024</a
                          >
                        </li>
                        <li>
                          <a class="menu-column__link" href="#!"
                            >Vietnamese movies</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- nav - item 2  -->
          <li class="navbar__item js-toggle" toggle-target="#nav-item-2">
            <a href="#!" class="navbar__link " >
              Cinemas
              <img
                src="./assets/icon/arrow-down.svg"
                alt=""
                class="icon navbar-arrow"
              />
            </a>
  
            <div class="dropdown" id="nav-item-2">
              <img src="./assets/icon/arrow-up.png" alt="" class="navbar-top d-xl-none" />
              <div class="navbar__return d-none d-xl-flex">
                <img src="./assets/icon/arrow-left-solid.svg" alt="" class="navbar__return-icon icon">
                <h1 class="navbar__return-text">Main Menu</h1>
              </div>
              <div class="dropdown__inner">
                <div class="sub-menu">
                  <!-- column 1  -->
                  <div class="sub-menu__column">
                    <div class="menu-column">
                      <ul class="menu-column__list">
                        <li>
                          <a class="menu-column__link" href="#!">All Theaters</a>
                        </li>
                        <li>
                          <a class="menu-column__link" href="#!">Special Theater</a>
                        </li>
                        <li>
                          <a class="menu-column__link" href="#!"
                            > 3D theater</a
                          >
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- nav item 3 -->
          <li class="navbar__item js-toggle" toggle-target="#nav-item-3">
            <a href="#!" class="navbar__link">
              Movie New
              <img
                src="./assets/icon/arrow-down.svg"
                alt=""
                class="icon navbar-arrow"
              />
            </a>
            <div class="dropdown" id="nav-item-3">
              <div class="navbar__return d-none d-xl-flex">
                <img src="./assets/icon/arrow-left-solid.svg" alt="" class="navbar__return-icon icon">
                <h1 class="navbar__return-text">Main Menu</h1>
              </div>
              <img src="./assets/icon/arrow-up.png" alt="" class="navbar-top d-xl-none" />
              <div class="dropdown__inner">
                <div class="sub-menu">
                  <!-- column 1  -->
                  <div class="sub-menu__column">
                    <div class="menu-column">
                      <ul class="menu-column__list">
                        <li>
                          <a class="menu-column__link" href="#!">Movie news</a>
                        </li>
                        <li>
                          <a class="menu-column__link" href="#!">Movie Review </a>
                        </li>
                        <li>
                          <a class="menu-column__link" href="#!">Video</a>
                        </li>
                        <li>
                          <a class="menu-column__link" href="#!">Topic</a>
                        </li>
                        <li>
                          <a class="menu-column__link" href="#!"
                            >Cinematic Universe</a
                          >
                        </li>
                        <li>
                          <a class="menu-column__link" href="#!">Tv Series</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- navbar- item 4  -->
          <li class="navbar__item js-toggle"  toggle-target="#nav-item-4">
            <a href="#!" class="navbar__link">
              Comunity
              <img
                src="./assets/icon/arrow-down.svg"
                alt=""
                class="icon navbar-arrow"
              />
            </a>
  
            <div class="dropdown" id="nav-item-4">
              <div class="navbar__return d-none d-xl-flex js-toogle" toggle-target="#nav-close" id="nav-close">
                <img src="./assets/icon/arrow-left-solid.svg" alt="" class="navbar__return-icon icon">
                <h1 class="navbar__return-text">Main Menu</h1>
              </div>
              <img src="./assets/icon/arrow-up.png" alt="" class="navbar-top d-xl-none" />
              <div class="dropdown__inner" id="nav-close">
                <div class="sub-menu">
                  <!-- column 1  -->
                  <div class="sub-menu__column">
                    <div class="menu-column">
                      <div class="menu-column__content">
                        <ul class="menu-column__list">
                          <li>
                            <a class="menu-column__link" href="#!">Online Counter</a>
                          </li>
                          <li>
                            <a class="menu-column__link" href="#!"
                              >
                              Theater Rentals & Group Tickets
                            </a>
                          </li>
                          <li>
                            <a class="menu-column__link" href="#!">e-CGV</a>
                          </li>
                          <li>
                            <a class="menu-column__link" href="#!">
                              CGV eGift</a>
                          </li>
                          <li>
                            <a class="menu-column__link" href="#!"
                              >CGV Rules</a
                            >
                          </li>
                          <li>
                            <a class="menu-column__link" href="#!">Tv Series</a>
                          </li>
                        </ul>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <!-- navbar overlay -->
      <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>
      <!-- action -->
      <div  class="top-act__user">
        <img src="./assets/img/avatar/avatar-1.jpg" alt="" class="avatar" />
        <div class="act-dropdown top-act__dropdown">
          <div class="act-dropdown__arrow icon top-act__dropdown-arrow">
            <img src="./assets/icon/arrow-up.png" alt="" class="act-dropdown__arrow-img">
          </div>
          <div class="act-dropdown__inner top-act__dropdown-inner">
           <div class="user-menu">
            <div class="user-menu__top">
              <img src="./assets/img/avatar/avatar-1.jpg" alt="" class="avatar">
             <div>
                <p class="user-menu__name">Ly Dang Trieu</p>
             </div>
            </div>
            <ul class="user-menu__list">
              <li>
                <a href="./profile.html" class="user-menu__link">
                  <img src="./assets/icon/profile-user.svg" alt="" class="icon user-menu__icon">
                  Profile
                </a>
              </li>
              <li>
                <a href="./favourite.html" class="user-menu__link">
                  <img src="./assets/icon/favourite.svg" alt="" class="icon user-menu__icon">
                  
                  List</a>
              </li>
              <li class="user-menu__separate">
         
                <div class="fx-block user-menu__link--themes"  id="switch-theme-btn">
                  <div class="toggle">
                    <div>
                      <input type="checkbox" id="toggles" checked  >
                      <div data-unchecked="" data-checked="">
                      </div>
                    </div>
                  </div>
                 <span>Dark Mode</span>
                </div>
              </li>
              <li >
                <a href="#!" class="user-menu__link">
                  <img src="./assets/icon/setting.svg" alt="" class="icon user-menu__icon">
                  
                  Setting</a>
              </li>
              <li class="user-menu__separate">
                <a href="./sign-in.html" class="user-menu__link">
                  <img src="./assets/icon/logout.svg" alt="" class="icon user-menu__icon">
                  
                  Logout</a>
              </li>
            </ul>
           </div>
          </div>
         </div>
      </div>
    </div>
  </div>
  