@use "../abstracts";
.showtime {
  margin-top: 30px;
  width: 100%;
  &__movie-schedule-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
  }
  &__movie-block {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
    @include abstracts.screen(sm) {
      width: 100%;
    }
  }
  &__showtimes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
  }
  &__tabs {
    display: flex;
    margin-bottom: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    flex-wrap: wrap;
    gap: 10px;
    @include abstracts.screen(sm) {
      justify-content: space-between;
    }
  }

  &__tab-button {
    background-color: #e0e0e0;
    border: none;
    padding: 15px;
    font-size: 1.6rem;
    cursor: pointer;
    width: 95px;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  &__tab-button.active {
    background-color: #ffcc00;
    color: #222;
  }
  &__tab-button {
    &:hover {
      opacity: 0.8;
      background-color: #ffcc00;
    }
  }
  &__controls {
    width: 95px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &-button {
    background-color: #ffcc00;
    border: none;
    padding: 10px;
    font-size: 1.4rem;
    cursor: pointer;
    color: #222;
    border-radius: 5px;
    width: min(105px, 100%);
    &:hover {
      opacity: 0.7;
    }
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;

    &.past {
      background-color: #ccc;
      cursor: not-allowed;
    }
    @include abstracts.screen(sm) {
      width: 40%;
    }
  }
}

.schedule-content {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: var(--schedule-content-color);
}

.movie-list {
  display: grid;
  gap: 20px;
}

.movie-title {
  font-size: 1.8rem;
  color: #ff6600;
  margin-bottom: 8px;
}

.movie-subtitle {
  font-size: 1.6rem;
  color: #666;
  margin-top: 4px;
  color: blue;
}

.movie-description {
  font-size: 1.5rem;
  color: #555;
  margin-top: 4px;
}

.nav-button {
  border-radius: 10px 0 0 10px;
  background-color: #ebebeb;
  border: none;
  padding: 10px;
  font-size: 1.6rem;
  cursor: pointer;
  color: #333;
  &:hover {
    background-color: rgba(129, 216, 208, 0.7);
  }
}
.nav-button + .nav-button {
  border-radius: 0 10px 10px 0;
}

////////////
.showtime {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;

  /* Tab ngày */
  .showtime__tabs {
    display: flex;
    overflow-x: auto;
    margin-bottom: 20px;
  }

  .showtime__tab-button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c1c1c1;
    }

    &.active {
      background-color: yellow;
      font-weight: bold;
    }
  }

  /* Danh sách phim */

  .movie-item {
    background-color: #f9f9f9;
    padding: 15px;

    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 2rem;
      color: red;
      font-weight: 700;
    }

    p {
      font-size: 1.5rem;
      color: #000;
      margin: 5px 0 10px;
    }

    ul {
      list-style: none;
    }

    .time-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  /* No sessions message */
  #no-sessions-message {
    font-size: 1.2rem;
    color: #ff4d4d;
    text-align: center;
  }

  /* Section thêm showtime */
  .add-showtime-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      font-size: 1.5rem;
      font-weight: 700;
      margin-right: 10px;
    }

    input {
      color: red;
      width: 200px;
      padding: 10px;
      font-size: 2rem;
      margin-right: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  /* Chọn màn hình */
  .screen-selector {
    margin-top: 20px;

    label {
      font-size: 1.5rem;
      margin-right: 10px;
      font-weight: 700;
    }

    select {
      margin-left: 7px;
      padding: 10px;
      font-size: 1.5rem;
      width: 300px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  &__add-showtime-button {
    padding: 8px 15px;
    font-size: 2rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #218838;
    }
  }
  &__submit-control {
    margin: 30px auto 10px !important;
  }
  @media (max-width: 768px) {
    .showtime__tabs {
      flex-direction: column;
    }

    .showtime__tab-button {
      width: 100%;
      margin-bottom: 10px;
    }

    .movie-item {
      padding: 10px;
    }

    .movie-item h3 {
      font-size: 1.2rem;
    }

    .add-showtime-section input,
    .add-showtime-section button {
      font-size: 0.9rem;
    }
  }

  &__book {
    padding: 10px;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--showtime-book);
    position: relative;
    height: 60px;
    &:hover .showtime__book::before {
      animation: rotateAnimation 1s ease infinite;
      background-color: orange;
    }
    &:hover {
      background-color: orange;
    }
    &.activeShowtime {
      background-color: red;
    }
    &::before,
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
    }
    &::before {
      width: 150px;
      height: 60px;
      top: 0;
      left: 0;
      border-radius: 10px;
      border: 1px solid #fff;
      border-color: transparent #fff;
    }
    // &::after {
    //   width: 150px;
    //   height: 50px;
    //   top: 0;
    //   left: 0;
    //   border-radius: 10px;
    //   border: 1px solid;
    //   border-color: orange transparent;
    // }
  }
  &__start-time {
    color: #fff;
    font-weight: 600;
  }
  &__end-time {
    color: #767676;
  }
  &__time-showtime {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__screen {
    font-size: 1.3rem;
    color: #767660;
    text-align: center;
    display: block;
    margin-top: 5px;
  }
  &__choose {
    border: 5px solid #95dad2;
    border-radius: 10px;
  }
}
.movie-item {
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 10px;
  & > ul {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    & li {
      background-color: #ebebeb;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      flex-direction: column;
      width: 150px;
    }
  }
}
.screen-dropdown__option {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
  font-size: 1.8rem;
}

////////////////
.date-buttons {
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #ccc;
  padding: 10px;
}

/* Style cho các nút ngày */
.date-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  @include abstracts.screen(md) {
    width: 50px;
    padding: 5px;
    font-size: 1.2rem;
  }
}
.screenId {
  @include abstracts.screen(md) {
    font-size: 1.5rem;
  }
}
/* Hiệu ứng hover */
.date-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Màu nền khi nút ngày được chọn */
.date-button.active {
  background-color: #28a745;
}

/* Showtimes chỉ hiển thị khi có showtime */
.showtime__book {
  display: none;
}
.showtimes-list {
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border-radius: 0 0 4px 4px;
  width: 100%;
}
