<main class="auth">
  <!-- auth intro -->
  <div class="auth__intro d-md-none">
    <a href="./" class="logo auth__intro-logo d-none d-md-flex">
      <img src="/assets/icon/logo.svg" alt="Movin" class="logo__img" />
      <h1 class="logo__title">Movin</h1>
    </a>
    <img
      src="/assets/img/Login/password.png"
      alt=""
      class="auth__intro-img"
      style="width: 424px"
    />
    <p class="auth__intro-text">
      FILM-MOMENT-EXPERIENCE
    </p>
    <button
      class="auth__intro-next d-none d-md-flex js-toggle"
      toggle-target="#auth-content"
    >
      <img src="./assets/img/auth/intro-arrow.svg" alt="" />
    </button>
  </div>
  <!-- auth content -->
  <div id="auth-content" class="auth__content auth__forgot-password">
    <div class="auth__content-inner">
      <!-- logo -->
      <a href="./" class="logo">
        <img src="/assets/img/logo_movin.png" alt="movin" class="logo__img" />
        <h1 class="logo__title">Movin</h1>
      </a>
      <h1 class="auth__heading">Forgot Password</h1>
      <p class="auth__desc">Enter your email and we'll send you a OTP to reset
        your password</p>

      <form
        action="/forgot-password-emailed"
        class="form auth__form auth__form-forgot"
        method="POST"
      >
        <div class="form__group">
          <div class="form__text-input">
            <input
              type="email"
              name="email"
              name=""
              id="email"
              placeholder="Email"
              class="form__input"
              required
            />
            <img src="./assets/icon/mess.svg" alt="" class="form__input-icon" />
            <img
              src="./assets/icon/font-error.svg"
              alt=""
              class="form__input-icon--error"
            />
          </div>
          <p class="form__error">Email is not correct format</p>
        </div>

        <div class="form__group auth__btn-group">
          <button
            type="submit"
            class="btn btn--primary auth__btn form__submit-btn"
          >Reset Password</button>
        </div>
      </form>
      <p class="auth__text">
        <a href="/sign-in" class="auth__link auth__text-link">Back Top Sign In</a>
      </p>
    </div>
  </div>
</main>

<script>
  window.dispatchEvent(new Event("template-loaded"));
</script>