.profile {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 33px;
  &-content {
    margin-top: 30px;
  }
  &__sidebar {
    border-radius: 20px;
    background: var(--profile-sidebar-bg);
    box-shadow: 0px 20px 60px 10px var(--profile-sidebar-shadow);
    overflow: hidden;
    padding-bottom: 30px;
  }
  &-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%),
      url(/assets/img/logo_movin.png) no-repeat center / cover;
    padding: 40px 20px 20px;

    box-shadow: 0px 20px 60px 10px var(--profile-sidebar-shadow);
    &__avatar {
      width: 121px;
      height: 121px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
      border: 5px solid rgba(255, 255, 255, 0.2);
      background: #ccc;
      background-clip: content-box;
    }
    &__name {
      color: #fff;
      margin-top: 15px;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.44;
    }
    &__desc {
      color: #fafafd;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.46;
      margin-top: 2px;
      text-align: center;
    }
  }
  //   menu
  &-menu {
    margin-top: 30px;
    padding: 0 30px;
    &__span {
      color: red;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      margin-left: 5px;
    }
    &__title {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.44;
    }
    &__list {
      margin-top: 12px;
    }
    &__link {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.46;
      height: 33px;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 5px;
      margin-left: -5px;
      border-radius: 5px;
      &:hover {
        background-color: var(--profile-link-hover);
        transition: background-color 0.2s;
      }
    }
    &__icon {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
  &__desc {
    margin-bottom: 16px;
  }
}
