.feedback-modal {
  background-color: #f8faff;
  border-radius: 20px;
  padding: 70px;
  width: 80%;
  margin: 80px auto;
  box-shadow: -80px -40px #e0e9fe;
}

.review-Page__heading {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}

.review-Page__desc {
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
}

.rating-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rating-options .border {
  text-align: center;
  cursor: pointer;
  border: 2px solid #e5edff;
  padding: 20px;
  border-radius: 5px;
  transition: box-shadow 0.3s, transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  min-width: 90px;
  box-sizing: border-box;
}

.rating-options input {
  display: none;
}

.rating-options .border {
  box-shadow: none;
  transform: scale(1);
  color: #60699a;
}

.emoji {
  display: block;
  font-size: 24px;
  margin-bottom: 4px;
  color: #60699a;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 2px solid #a3b8e8;
  resize: none;
  font-size: 1rem;
  height: 80px;
  outline: none;
}

.options {
  text-align: left;
  margin-bottom: 16px;
}

.checkbox {
  display: block;
  margin-top: 8px;
}

.checkbox input {
  margin-right: 8px;
  width: 21px;
  height: 21px;
  accent-color: #ff71a4;
  cursor: pointer;
  vertical-align: middle;
}

.checkbox a,
.checkbox a:visited {
  color: #d22e69;
  text-decoration: none;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 40px;
}

.review-Page__button {
  padding: 20px 30px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#submit {
  background-color: #ff71a4;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#cancel {
  background-color: #fff;
  color: #60699a;
}

#contact-consent-error {
  color: #d22e69;
  font-weight: bold;
  font-size: 14px;
  margin-top: 8px;
  display: none; /* Hide the error message by default */
}

#success-message {
  color: green;
  font-weight: bold;
  font-size: 14px;
  margin-top: 8px;
  display: none; /* Hide the success message by default */
}

@media (max-width: 720px) {
  .feedback-modal {
    width: 90%;
    margin: 50px auto;
  }

  .rating-options {
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px auto;
    justify-content: center;
  }

  .actions {
    flex-direction: column;
  }
}
/////
.review-Page__sub-title {
  font-size: 1.8rem;
  margin-top: 30px;
  display: block;
}
////////////// star review
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
