<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="/" class="breadcrumbs__link">Home </a>
      <img
        class="breadcrumbs__icon"
        src="/assets/icon/arrow-right.svg"
        alt=""
      />
    </li>
    <li class="breadcrumbs__item">
      <a href="/privacy/introduce" class="breadcrumbs__link">Privacy</a>
      <img
        class="breadcrumbs__icon"
        src="/assets/icon/arrow-right.svg"
        alt=""
      />
    </li>
    <li class="breadcrumbs__item">
      <a
        href="/privacy/contactWithUs"
        class="breadcrumbs__link--current"
      >Contact With Movin
      </a>
    </li>
  </ul>
  <div class="row">
    <div class="col-3">
      <ul class="privacy__list">
        <li class="privacy__item"><a href="/privacy/introduce"><span>
              Introduce</span></a></li>
        <li class="privacy__item active"><a href="/privacy/contactWithUs"><span
            >Contact With Movin</span></a></li>
        <li class="privacy__item"><a href="/privacy/termOfTransaction"><span
            >Terms of transaction</span></a></li>
        <li class="privacy__item"><a href="/privacy/termOfPayment"><span>Payment
              policy</span></a></li>
        <li class="privacy__item"><a href="/privacy/privacyPolicy"><span>Privacy
              Policy</span></a></li>
        <li class="privacy__item"><a href="/privacy/faq"><span>Frequently Asked
              Questions</span></a></li>

      </ul>
    </div>
    <div class="col-9">
      <h1 class="privacy__heading">Contact With Movin</h1>
      <div class="footer__column">
        {{!  }}
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.485467675207!2d106.76933817508967!3d10.850632389302667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752763f23816ab%3A0x282f711441b6916f!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTxrAgcGjhuqFtIEvhu7kgdGh14bqtdCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1733033236051!5m2!1svi!2s"
          width="100%"
          height="450"
          style="border-radius:10px;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        {{!  }}
        <h2 class="footer__heading">Contact With Us</h2>

        <ul class="footer__list" style="margin: 20px 0;">
          <!-- logo -->

          <li class="footer__item">
            <span class="footer__phone">Hotline: 0373460755</span>
          </li>
          <li class="footer__item">
            <span class="footer__time">Working hours: 8:00 - 22:00 (All days
              including holidays)</span>
          </li>
          <li class="footer__item">
            <a
              target="_blank"
              href="https://mail.google.com/mail/u/0/#search/tuyenbest1234%40gmail.com?compose=new"
              class="footer__email"
            >Email: tuyenbest1234@gmail.com
            </a>
          </li>
          <li class="footer__item">
            <a
              target="_blank"
              href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+S%C6%B0+ph%E1%BA%A1m+K%E1%BB%B9+thu%E1%BA%ADt+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh/@10.8506324,106.7719131,15z/data=!4m2!3m1!1s0x0:0x282f711441b6916f?sa=X&ved=1t:2428&ictx=111"
              class="footer__address"
            >Address : 01 Vo Van Ngan Street, Linh Chieu, Thu Duc, Ho Chi Minh
              City
            </a>
          </li>
        </ul>
        <ul class="footer__social-list" style="width: 200px;">
          <li class="footer__social-item">
            <a
              target="_blank"
              href="https://www.facebook.com/profile.php?id=100053063137782"
              class="footer__social-link"
            >
              <img
                src="/assets/icon/facebook.svg"
                alt=""
                class="footer__social-img"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a
              target="_blank"
              href="https://www.instagram.com/blink45653/"
              class="footer__social-link"
            >
              <img
                src="/assets/icon/instagram.svg"
                alt=""
                class="footer__social-img"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a
              target="_blank"
              href="https://x.com/tuyentran1293"
              class="footer__social-link"
            >
              <img
                src="/assets/icon/twiter.svg"
                alt=""
                class="footer__social-img"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a
              target="_blank"
              href="https://zalo.me/0853485318"
              class="footer__social-link"
            >
              <img
                src="/assets/icon/zalo.svg"
                alt=""
                class="footer__social-img"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>