<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="/" class="breadcrumbs__link">Home </a>
      <img
        class="breadcrumbs__icon"
        src="/assets/icon/arrow-right.svg"
        alt=""
      />
    </li>
    <li class="breadcrumbs__item">
      <a href="/privacy/introduce" class="breadcrumbs__link">Privacy</a>
      <img
        class="breadcrumbs__icon"
        src="/assets/icon/arrow-right.svg"
        alt=""
      />
    </li>
    <li class="breadcrumbs__item">
      <a href="/privacy/contactWithUs" class="breadcrumbs__link--current">FAQ
      </a>
    </li>
  </ul>
  <div class="row">
    <div class="col-3">
      <ul class="privacy__list">
        <li class="privacy__item"><a href="/privacy/introduce"><span>
              Introduce</span></a></li>
        <li class="privacy__item"><a href="/privacy/contactWithUs"><span>Contact
              With Movin</span></a></li>
        <li class="privacy__item"><a href="/privacy/termOfTransaction"><span
            >Terms of transaction</span></a></li>
        <li class="privacy__item"><a href="/privacy/termOfPayment"><span>Payment
              policy</span></a></li>
        <li class="privacy__item"><a href="/privacy/privacyPolicy"><span>Privacy
              Policy</span></a></li>
        <li class="privacy__item active"><a href="/privacy/faq"><span>Frequently
              Asked Questions</span></a></li>

      </ul>
    </div>
    <div class="col-9">
      <h1 class="privacy__heading">Frequently Asked Questions</h1>
      <div class="accordion">
        <div class="accordion-item">
          <button id="accordion-button-1" aria-expanded="false"><span
              class="accordion-title"
            >Làm thế nào để đặt vé xem phim?</span><span
              class="icon"
              aria-hidden="true"
            ></span></button>
          <div class="accordion-content">
            <p>Để đặt vé, bạn chỉ cần chọn bộ phim bạn muốn xem, chọn ngày và
              giờ chiếu, sau đó điền thông tin thanh toán. Bạn sẽ nhận được vé
              điện tử qua email ..</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-2" aria-expanded="false"><span
              class="accordion-title"
            >Tôi có thể mua vé xem phim ở đâu?</span><span
              class="icon"
              aria-hidden="true"
            ></span></button>
          <div class="accordion-content">
            <p>Bạn có thể mua vé trực tiếp trên trang web của chúng tôi, qua ứng
              dụng di động hoặc tại các quầy vé của rạp chiếu phim.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-3" aria-expanded="false"><span
              class="accordion-title"
            > Vé xem phim có thể được hoàn tiền không?</span><span
              class="icon"
              aria-hidden="true"
            ></span></button>
          <div class="accordion-content">
            <p>
              Vé đã mua không thể hoàn tiền, nhưng bạn có thể đổi vé cho một
              suất chiếu khác trong vòng 24 giờ trước giờ chiếu đã chọn..</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-4" aria-expanded="false"><span
              class="accordion-title"
            > Tôi có thể chọn ghế ngồi trước khi mua vé không?</span><span
              class="icon"
              aria-hidden="true"
            ></span></button>
          <div class="accordion-content">
            <p>
              Có! Chúng tôi cung cấp hệ thống chọn ghế ngồi trước khi bạn hoàn
              tất quá trình mua vé, giúp bạn chọn chỗ ngồi yêu thích trong rạp.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false"><span
              class="accordion-title"
            >
              Tôi có thể sử dụng thẻ quà tặng để thanh toán vé không?</span><span
              class="icon"
              aria-hidden="true"
            ></span></button>
          <div class="accordion-content">
            <p>Có, bạn có thể sử dụng thẻ quà tặng của Movin Cinema để thanh
              toán khi đặt vé trực tuyến hoặc tại các quầy vé.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script>

</script>