<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="/" class="breadcrumbs__link">Home </a>
      <img
        class="breadcrumbs__icon"
        src="/assets/icon/arrow-right.svg"
        alt=""
      />
    </li>
    <li class="breadcrumbs__item">
      <a href="/privacy/introduce" class="breadcrumbs__link">Privacy</a>
      <img
        class="breadcrumbs__icon"
        src="/assets/icon/arrow-right.svg"
        alt=""
      />
    </li>
    <li class="breadcrumbs__item">
      <a
        href="/privacy/contactWithUs"
        class="breadcrumbs__link--current"
      >Privacy Policy
      </a>
    </li>
  </ul>
  <div class="row">
    <div class="col-3">
      <ul class="privacy__list">
        <li class="privacy__item"><a href="/privacy/introduce"><span>
              Introduce</span></a></li>
        <li class="privacy__item"><a href="/privacy/contactWithUs"><span>Contact
              With Movin</span></a></li>
        <li class="privacy__item"><a href="/privacy/termOfTransaction"><span
            >Terms of transaction</span></a></li>
        <li class="privacy__item"><a href="/privacy/termOfPayment"><span>Payment
              policy</span></a></li>
        <li class="privacy__item active"><a href="/privacy/privacyPolicy"><span
            >Privacy Policy</span></a></li>
        <li class="privacy__item"><a href="/privacy/faq"><span>Frequently Asked
              Questions</span></a></li>

      </ul>
    </div>
    <div class="col-9">
      <h1 class="privacy__heading">Privacy Policy</h1>
      <div class="private-policy">
        <header>
          <h1>Chính Sách Bảo Mật Thông Tin Khách Hàng</h1>
          <p>Chào mừng bạn đến với Movin Cinema</p>
        </header>

        <section class="introduction">
          <p>Chúng tôi, Movin Cinema, cam kết bảo vệ thông tin cá nhân của khách
            hàng khi bạn sử dụng dịch vụ của chúng tôi. Chính sách bảo mật này
            giải thích cách chúng tôi thu thập, sử dụng và bảo vệ thông tin của
            bạn.</p>
        </section>

        <section class="data-processing">
          <h2>1. Thu Thập và Xử Lý Dữ Liệu Cá Nhân</h2>
          <p>Movin Cinema sẽ bắt đầu việc xử lý dữ liệu cá nhân ngay khi nhận
            được dữ liệu cá nhân từ bạn và sẽ tiếp tục cho đến khi dữ liệu cá
            nhân của bạn bị xóa hoặc hủy theo quy định của pháp luật.</p>
        </section>
        <div class="privacy-policy">
          <!-- Section 8 -->
          <section id="data-storage-protection">
            <h2>2. BẢO VỆ VÀ LƯU TRỮ DỮ LIỆU CÁ NHÂN</h2>
            <p>Dữ liệu cá nhân của bạn do Movin Việt Nam lưu trữ sẽ được bảo mật
              bằng việc thực hiện các biện pháp hợp lý. Tuy nhiên, CHẮC CHẮN
              KHÔNG THỂ CÓ SỰ ĐẢM BẢO AN NINH TUYỆT ĐỐI.</p>
            <p>Trong phạm vi pháp luật cho phép, Movin Việt Nam có thể lưu trữ
              dữ liệu cá nhân của bạn trong khoảng thời gian cần thiết để hoàn
              thành đúng và đủ các mục đích xử lý dữ liệu cá nhân được nêu cụ
              thể trong Chính Sách Bảo Mật Thông Tin.</p>
            <p>Movin Việt Nam có thể phải lưu trữ dữ liệu cá nhân của bạn lâu
              hơn dựa trên nhu cầu thực tế như (i) bất cứ các mối đe dọa hoặc
              yêu cầu thực tế nào được khẳng định chống lại Movin Việt Nam; (ii)
              Điều tra gian lận nội bộ; (iii) điều tra tham nhũng nội bộ; (iv)
              phát hiện, ngăn chặn, điều tra và xử lý những hoạt động vi phạm
              chính sách, quy định nội bộ của Movin Việt Nam và/hoặc vi phạm quy
              định pháp luật Việt Nam; (v) yêu cầu của pháp luật có hiệu lực tại
              từng thời điểm như pháp luật về Thuế, Phòng, chống rửa tiền, hay
              (vi) nhằm giải quyết tranh chấp, vấn đề pháp lý, nếu có.</p>
            <p>Movin Việt Nam sẽ hủy hoặc xóa thông tin nhận dạng ra khỏi dữ
              liệu cá nhân của bạn khi Movin Việt Nam nhận được yêu cầu của bạn
              phù hợp với các quy định pháp luật hoặc khi Movin Việt Nam có lý
              do hợp lý để xác định rằng (i) việc lưu trữ dữ liệu cá nhân đó
              không còn phục vụ mục đích thu thập dữ liệu cá nhân đó nữa; (ii)
              việc lưu giữ không còn cần thiết cho bất kỳ mục đích hợp pháp hay
              mục đích kinh doanh nào và (iii) không còn các lợi ích hợp pháp
              nào khác để tiếp tục lưu giữ các dữ liệu cá nhân này.</p>
            <p>BẠN CŨNG CẦN LƯU Ý, Movin VIỆT NAM CŨNG BẢO LƯU QUYỀN TỪ CHỐI
              XÓA, PHẢN ĐỐI XỬ LÝ, HẠN CHẾ XỬ LÝ, XÓA DỮ LIỆU CÁ NHÂN TRONG
              TRƯỜNG HỢP YÊU CẦU CỦA BẠN KHÔNG PHÙ HỢP VỚI QUY ĐỊNH PHÁP LUẬT,
              HOẶC MẶC DÙ PHÙ HỢP NHƯNG THUỘC TRƯỜNG HỢP Movin VIỆT NAM KHÔNG
              ĐƯỢC XÓA THEO QUY ĐỊNH PHÁP LUẬT.</p>
          </section>

          <!-- Section 9 -->
          <section id="sensitive-data-processing">
            <h2>3. XỬ LÝ DỮ LIỆU CÁ NHÂN NHẠY CẢM</h2>
            <p>Movin Việt Nam hiểu rõ dữ liệu cá nhân nhạy cảm gắn liền với
              quyền riêng tư mà khi bị xâm phạm sẽ gây ảnh hưởng trực tiếp tới
              quyền, lợi ích hợp pháp của bạn, do đó Movin Việt Nam sẽ không
              tiến hành thu thập, xử lý dữ liệu cá nhân nhạy cảm của bạn nếu
              chưa được sự đồng ý của bạn.</p>
            <p>Việc thu thập, xử lý dữ liệu cá nhân nhạy cảm của bạn sẽ được
              thực hiện riêng biệt và từng lần cho các mục đích tại từng thời
              điểm nếu phát sinh. Tuy nhiên, để phục vụ cho quá trình đăng nhập
              Ứng Dụng, kiểm tra, xác thực cho quá trình sử dụng Ứng Dụng
              và/hoặc xác nhận Dịch Vụ, Movin Việt Nam có thể truy xuất dữ liệu
              cá nhân nhạy cảm của bạn thông qua các thiết bị cá nhân mà bạn
              đang sử dụng Ứng Dụng, chẳng hạn như thông tin liên quan đến định
              danh sinh trắc học.</p>
            <p>Mặc dù vậy, Movin Việt Nam không thu thập, xử lý các dữ liệu cá
              nhân nhạy cảm này.</p>
          </section>

          <!-- Section 10 -->
          <section id="rights-obligations">
            <h2>4. QUYỀN VÀ NGHĨA VỤ CỦA BẠN</h2>
            <h3>4.1. Quyền của bạn:</h3>
            <ul>
              <li><strong>Quyền được biết:</strong>
                bạn được biết về hoạt động Xử Lý Dữ Liệu Cá Nhân của mình, trừ
                trường hợp luật có quy định khác.</li>
              <li><strong>Quyền đồng ý:</strong>
                bạn được đồng ý hoặc không đồng ý cho phép Xử Lý Dữ Liệu Cá Nhân
                của mình, trừ trường hợp theo quy định của pháp luật.</li>
              <li><strong>Quyền rút lại sự đồng ý:</strong>
                bạn được quyền rút lại sự đồng ý của mình, trừ trường hợp luật
                có quy định khác.</li>
              <li><strong>Quyền truy cập:</strong>
                bạn có thể truy cập và/hoặc sửa dữ liệu cá nhân của mình mà
                Movin Việt Nam đang lưu giữ hoặc kiểm soát thông qua trang Thiết
                Lập Tài Khoản trên Ứng Dụng.</li>
              <li><strong>Quyền xóa dữ liệu:</strong>
                bạn có quyền yêu cầu xóa Dữ Liệu Cá Nhân của mình, trừ trường
                hợp pháp luật có quy định khác.</li>
              <li><strong>Quyền hạn chế xử lý dữ liệu:</strong>
                bạn được yêu cầu hạn chế xử lý Dữ Liệu Cá Nhân của mình.</li>
              <li><strong>Quyền phản đối xử lý dữ liệu:</strong>
                bạn có quyền phản đối việc xử lý Dữ Liệu Cá Nhân của mình.</li>
              <li><strong>Quyền khiếu nại, tố cáo:</strong>
                bạn có quyền khiếu nại, tố cáo hoặc khởi kiện theo quy định của
                pháp luật.</li>
              <li><strong>Quyền yêu cầu bồi thường thiệt hại:</strong>
                bạn có quyền yêu cầu bồi thường thiệt hại khi có vi phạm quy
                định về bảo vệ Dữ Liệu Cá Nhân của mình.</li>
              <li><strong>Quyền tự bảo vệ:</strong>
                bạn có quyền tự bảo vệ theo quy định của pháp luật liên quan.</li>
            </ul>

            <h3>4.2. Nghĩa vụ của bạn:</h3>
            <ul>
              <li>Tự bảo vệ Dữ Liệu Cá Nhân của mình; yêu cầu các tổ chức, cá
                nhân khác có liên quan bảo vệ Dữ Liệu Cá Nhân của mình.</li>
              <li>Tôn trọng, bảo vệ Dữ Liệu Cá Nhân của người khác.</li>
              <li>Cung cấp đầy đủ, chính xác Dữ Liệu Cá Nhân khi đồng ý cho phép
                xử lý Dữ Liệu Cá Nhân.</li>
              <li>Tham gia tuyên truyền, phổ biến kỹ năng bảo vệ Dữ Liệu Cá
                Nhân.</li>
              <li>Thực hiện quy định của pháp luật về bảo vệ Dữ Liệu Cá Nhân và
                tham gia phòng, chống các hành vi vi phạm quy định về bảo vệ Dữ
                Liệu Cá Nhân.</li>
            </ul>
          </section>

          <!-- Section 11 -->
          <section id="marketing-consent">
            <h2>5. SỰ ĐỒNG Ý CHO TIẾP THỊ, GIỚI THIỆU SẢN PHẨM, QUẢNG CÁO VÀ
              KHUYẾN MẠI</h2>
            <p>Theo yêu cầu của pháp luật, Movin Việt Nam sẽ cần bạn đồng ý
              trước khi xử lý dữ liệu cá nhân để gửi đến bạn thông tin tiếp thị,
              giới thiệu, quảng cáo và khuyến mại liên quan đến các sản phẩm
              được cá nhân hóa theo nguyên tắc bạn biết rõ nội dung, phương
              thức, hình thức, tần suất giới thiệu sản phẩm phù hợp với từng
              loại sản phẩm, chương trình, chiến dịch tương ứng và quy định pháp
              luật có liên quan.</p>
            <p>Movin Việt Nam, đối tác kinh doanh của Movin Việt Nam, và đối tác
              tiếp thị vẫn sẽ sử dụng các loại dữ liệu đã thu thập từ bạn để xử
              lý nhằm mục đích tiếp thị, giới thiệu sản phẩm, quảng cáo và
              khuyến mại qua hình thức các bài đăng về các sản phẩm và dịch vụ
              của Movin Việt Nam và các bên thứ ba được lựa chọn cẩn thận.</p>
          </section>

          <!-- Section 12 -->
          <section id="withdraw-consent">
            <h2>6. RÚT LẠI SỰ ĐỒNG Ý</h2>
            <p>Để yêu cầu rút lại sự đồng ý của bạn về việc thu thập, sử dụng,
              lưu trữ hoặc tiết lộ thông tin cá nhân của bạn, vui lòng gửi yêu
              cầu đến địa chỉ email của chúng tôi hoặc liên hệ qua các hình thức
              liên lạc mà chúng tôi cung cấp.</p>
          </section>
        </div>

        <section class="data-ownership">
          <h2>7. Tổ Chức Chịu Trách Nhiệm Chính Về Bảo Vệ Dữ Liệu Cá Nhân</h2>
          <p>
            <strong>Movin Cinema</strong><br />
            Địa chỉ: 01 Vo Van Ngan Street, Linh Chieu, Thu Duc, Ho Chi Minh
            City<br />
            Điện thoại: 0373460755<br />
            Email: tuyenbest1234@gmail.com
          </p>
        </section>

        <section class="contact">
          <h2>8. Liên Hệ</h2>
          <p>
            Gọi cho đường dây nóng của Movin Cinema: 0373460755<br />
            Gửi thư điện tử cho chúng tôi tại: tuyenbest1234@gmail.com<br />
            Hoặc liên hệ trực tiếp tại văn phòng: 01 Vo Van Ngan Street, Linh
            Chieu, Thu Duc, Ho Chi Minh City
          </p>
        </section>

        <section class="security">
          <h2>9. Bộ Phận Phụ Trách Bảo Mật Thông Tin</h2>
          <p>
            Người phụ trách chính: IT Security(Lý Đăng Triều)<br />
            Email: 22110080@student.hcmute.edu.vn<br />
            Điện thoại: 0373460755<br />
            Địa chỉ: 01 Vo Van Ngan Street, Linh Chieu, Thu Duc, Ho Chi Minh
            City
          </p>
        </section>
      </div>
    </div>
  </div>
</div>