/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

a,
button,
input,
textarea,
section,
img {
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
  padding: 0;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

.separate {
  margin: var(--margin) 0;
  height: 1px;
  background-color: #d2d1d6;
}

.icon {
  filter: var(--icon-color) !important;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1400px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
html.dark {
  --text-color: #fff;
  --body-bg: #000;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(275deg) brightness(106%) contrast(106%);
  --top-bar-bg: #000;
  --btn-primary-bg: rgb(237, 242, 247, 0.3);
  --search-bar-bg: rgb(237, 242, 247, 0.1);
  --search-bar-search-bg: rgb(237, 242, 247, 0.1);
  --navbar-arrow-filter: brightness(0) saturate(100%) invert(0%) sepia(71%)
    saturate(7463%) hue-rotate(103deg) brightness(97%) contrast(107%);
  --navbar-hover-color: #999;
  --navbar-top-filter: brightness(0) saturate(100%) invert(10%) sepia(0%)
    saturate(16%) hue-rotate(137deg) brightness(104%) contrast(83%);
  --navbar-side-bar-bg: #333;
  --navbar-return-bg: #222;
  --dropdown-inner-bg: url(../img/dropdown/bg-dropdown.png) repeat scroll center
    center rgba(0, 0, 0, 0);
  --dropdown-inner-border: #222;
  --footer-bg: #212127;
  --footer-heading-color: #FDFDFD;
  --box-shadow: box-shadow: 0px 40px 90px 20px rgba(0, 0, 0, 0.2);
  --act-dropdown-bg: #2f3441;
  --act-dropdown-shadow: rgba(23, 28, 40, 0.4);
  --act-dropdown-title-color: #b9babe;
  --act-dropdown-bottom-border: #171c28;
  --act-dropdown-arrow-filter: brightness(0) saturate(100%) invert(16%) sepia(25%) saturate(510%) hue-rotate(185deg) brightness(94%) contrast(88%);
  --separate-color: #ebebeb;
  --film-card-bg: #171c28;
  --film-card-color: #fff;
  --film-card-more-color: #fff;
}

html {
  --text-color: #676a6c;
  --body-bg: #fff;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(19%)
    saturate(2039%) hue-rotate(210deg) brightness(97%) contrast(96%);
  --top-bar-bg: #fff;
  --btn-primary-bg: rgb(183, 202, 209);
  --search-bar-bg: #ececec;
  --search-bar-search-bg: #f2f2f2;
  --navbar-arrow-filter: brightness(0) saturate(100%) invert(0%) sepia(71%)
    saturate(7463%) hue-rotate(103deg) brightness(97%) contrast(107%);
  --navbar-hover-color: #ebebeb;
  --navbar-side-bar-bg: #fff;
  --navbar-return-bg: #b7cad1;
  --navbar-top-filter: brightness(0) saturate(100%) invert(94%) sepia(7%)
    saturate(511%) hue-rotate(154deg) brightness(96%) contrast(80%);
  --dropdown-inner-bg: url(../img/dropdown/bg-themes-light.jpg) repeat scroll
    center center rgba(0, 0, 0, 0);
  --dropdown-inner-border: #c4d6dc;
  --footer-bg: #fbfbfb;
  --footer-heading-color: #020000;
  --box-shadow: box-shadow: 0px 17px 55px 0px rgba(96, 100, 100, 0.05);
  --act-dropdown-bg: #fff;
  --act-dropdown-shadow: rgba(200, 200, 200, 0.4);
  --act-dropdown-title-color: #1a162e;
  --act-dropdown-bottom-border: #d2d1d6;
  --act-dropdown-arrow-filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(3%) hue-rotate(104deg) brightness(101%) contrast(104%);
  --separate-color: #292e39;
  --film-card-bg: #ebebeb;
  --film-card-color: #1a162e;
  --film-card-more-color: #000;
}

.top-bar {
  display: flex;
  background-color: var(--top-bar-bg);
  margin: 24px 0;
  align-items: center;
}
@media (max-width: 1199.98px) {
  .top-bar {
    justify-content: space-between;
  }
}
.top-bar__more {
  margin-right: 10px;
  padding: 5px 10px;
  margin-left: 15px;
}
@media (max-width: 991.98px) {
  .top-bar__more {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
  }
}
@media (max-width: 575.98px) {
  .top-bar__more {
    margin-left: 0;
  }
}

.navbar {
  color: var(--text-color);
  margin-left: auto;
  position: relative;
}
@media (max-width: 1199.98px) {
  .navbar {
    display: block;
    inset: 0 50% 0 0;
    margin-left: 0;
    z-index: 9;
    translate: -100%;
    transition: translate 0.5s;
    position: fixed;
    background-color: var(--navbar-side-bar-bg);
    border-radius: 0 40px 40px 0;
  }
}
@media (max-width: 767.98px) {
  .navbar {
    inset: 0 30% 0 0;
  }
}
@media (max-width: 575.98px) {
  .navbar {
    inset: 0 20% 0 0;
  }
}
.navbar.show {
  translate: 0;
}
.navbar.show ~ .navbar__overlay {
  visibility: visible;
  opacity: 1;
}
.navbar.hide {
  visibility: visible;
  opacity: 1;
}
.navbar.hide .navbar-close {
  display: none;
}
.navbar__overlay {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 1199.98px) {
  .navbar__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.navbar__list {
  display: flex;
}
@media (max-width: 1199.98px) {
  .navbar__list {
    flex-direction: column;
  }
}
.navbar__item:hover .navbar-arrow {
  filter: var(--navbar-arrow-filter) !important;
}
.navbar__item:hover .dropdown {
  display: flex;
}
@media (max-width: 1199.98px) {
  .navbar__item:hover .dropdown {
    display: block;
    inset: 0;
    width: 100%;
    position: fixed;
  }
}
@media (max-width: 1199.98px) {
  .navbar__item {
    display: flex;
  }
}
.navbar__link {
  display: flex;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
  padding: 12px 20px;
  transition-property: background-color;
  transition-duration: 0.3s;
  width: 100%;
}
.navbar__link:hover {
  background-color: var(--navbar-hover-color);
  color: #000;
}
@media (max-width: 1199.98px) {
  .navbar-arrow {
    rotate: -90deg;
  }
}
.navbar__close--btn {
  position: absolute;
  width: 20px;
  top: 16px;
  right: -31px;
}
.navbar__top {
  height: 60px;
  position: sticky;
  border-radius: 0 40px 0 0;
  padding: 0 10px;
  align-items: center;
  background-color: #ccc;
}
.navbar__name {
  font-family: "Clash Display";
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.22;
  letter-spacing: 0.47px;
  margin-left: 10px;
}
.navbar__name-user {
  color: #0866ff;
}
.navbar-top {
  width: 50px;
  height: 35px;
  position: absolute;
  top: 3px;
  left: 30px;
  filter: var(--navbar-top-filter);
  z-index: -1;
  background-color: transparent;
}
.navbar__return {
  display: flex;
  width: 100%;
  background-color: var(--navbar-return-bg);
  height: 60px;
  border-radius: 0 40px 0 0;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
}
.navbar__return-icon {
  width: 20px;
  height: 20px;
}

.top-act {
  white-space: nowrap;
  margin-left: 60px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
@media (max-width: 1399.98px) {
  .top-act {
    margin-left: 15px;
  }
}
@media (max-width: 767.98px) {
  .top-act {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 1199.98px) {
  .top-act__sign-up {
    margin-left: 10px;
  }
}
@media (max-width: 991.98px) {
  .top-act__sign-up {
    width: 100px;
    font-size: 1.6rem !important;
    height: 40px;
  }
}
@media (max-width: 767.98px) {
  .top-act__sign-up {
    width: 70px;
    font-size: 1.2rem !important;
    height: 30px !important;
  }
}
@media (max-width: 991.98px) {
  .top-act__sign-in {
    margin-right: 0px;
    font-size: 1.6rem !important;
    height: 40px !important;
  }
}
.top-act__user {
  position: relative;
  z-index: 999;
  margin-left: 120px;
}
.top-act__user:hover .act-dropdown {
  display: block;
}
@media (max-width: 991.98px) {
  .top-act__user {
    margin-left: 50px;
  }
}
@media (max-width: 767.98px) {
  .top-act__user {
    margin-left: 0px;
  }
}
.top-act__dropdown {
  margin-top: 10px;
  right: 0px !important;
}
.top-act__dropdown-arrow {
  right: 15px !important;
}
.top-act__dropdown-inner {
  width: min(285px, 100vw) !important;
}

.menu-column__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-column__link {
  padding: 8px;
  white-space: nowrap;
}
.menu-column__link:hover {
  color: #e71a0f;
}

.act-dropdown {
  padding-top: 28px;
  display: none;
  position: absolute;
  top: 48px;
  right: -58px;
}
.act-dropdown__arrow {
  filter: var(--act-dropdown-arrow-filter) !important;
  position: absolute;
  top: 8px;
  right: 100px;
  z-index: 1;
}
.act-dropdown__arrow-img {
  background: transparent;
  width: 30px;
  height: 24px;
}
.act-dropdown__inner {
  position: relative;
  width: min(500px, 100vw);
  border-radius: 20px;
  padding: 30px;
  background: var(--act-dropdown-bg);
  box-shadow: 0px 40px 90px 20px var(--act-dropdown-shadow);
}
.act-dropdown-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.act-dropdown__title {
  color: var(--act-dropdown-title-color);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.45;
}
.act-dropdown__view-all {
  color: #0071dc;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.45;
}
.act-dropdown__bottom {
  margin-top: 20px;
  border-width: 1px 0;
  border-color: var(--act-dropdown-bottom-border);
  border-style: solid;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.act-dropdown__row {
  display: flex;
  justify-content: space-between;
}
.act-dropdown__label, .act-dropdown__value {
  color: var(--act-dropdown-title-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.45;
}
.act-dropdown__label--bold, .act-dropdown__value--bold {
  color: var(--act-dropdown-bold);
  font-weight: 500;
}
.act-dropdown__value {
  text-align: left;
}
.act-dropdown__checkout {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}
.act-dropdown__checkout-btn {
  width: 278px !important;
}
.act-dropdown__list {
  padding-bottom: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.act-dropdown__separate {
  margin-top: 20px;
  height: 1px;
  background-color: var(--act-dropdown-bottom-border);
}

.user-menu__icon {
  width: 20px;
  height: 20px;
}
.user-menu__top {
  display: flex;
  align-items: center;
  gap: 20px;
}
.user-menu__avatar {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.user-menu__name {
  font-weight: 600;
  font-size: 1.8rem;
}
.user-menu__username {
  margin-top: 5px;
}
.user-menu__list {
  margin-top: 10px;
}
.user-menu__link {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}
.user-menu__separate {
  border-top: 1px solid var(--separate-color);
}

.footer {
  margin-top: 30px;
  background-color: var(--footer-bg);
}
.footer__inner {
  padding-top: 70px;
}
.footer__heading, .footer__slogan {
  color: var(--footer-heading-color);
  font-family: "Clash Display";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin: 33px 0 30px;
  white-space: nowrap;
  cursor: pointer;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__logo-top {
  display: flex;
  align-items: center;
}
.footer__slogan {
  white-space: nowrap;
}
.footer__logo {
  margin-left: -15px;
}
.footer__social-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
@media (max-width: 1199.98px) {
  .footer__social-list {
    column-gap: 10px;
  }
}
@media (max-width: 767.98px) {
  .footer__social-list {
    column-gap: 0px;
  }
}
.footer__social-item {
  width: 40px;
  height: 40px;
  transition: background-color color;
  transition-duration: 0.4s;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #0866ff;
}
.footer__social-item:nth-child(4) {
  background: #0065f7;
}
.footer__social-item:nth-child(2) {
  background: linear-gradient(to top left, #f9ce34 0%, #ee2a7b 50%, #6228d7 100%);
}
.footer__social-item:nth-child(3) {
  background-color: #1d9bf0;
}
.footer__social-item:not(:nth-child(2)):hover .footer__social-img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(94%) saturate(2625%) hue-rotate(214deg) brightness(104%) contrast(101%);
}
.footer__social-item:nth-child(2):hover .footer__social-img {
  filter: brightness(0) saturate(100%) invert(78%) sepia(33%) saturate(914%) hue-rotate(278deg) brightness(80%) contrast(86%);
}
.footer__social-item:hover {
  background: #ebebeb;
}
.footer__social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__link {
  color: var(--footer-heading-color);
  display: inline-block;
  padding: 10px 0;
  position: relative;
  padding-bottom: 2px;
  white-space: nowrap;
}
.footer__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #81d8d0;
  transition: width 0.5s ease-in-out;
}
.footer__link:hover::after {
  animation: underline 0.5s forwards;
  width: 100%;
}
.footer__email:hover, .footer__address:hover {
  text-shadow: 0.7px 0 0 currentColor;
}
.footer__bottom {
  border-top: 1px solid #b7cad1;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.footer__c {
  font-size: 1.5rem;
  font-weight: 600;
}

.auth {
  min-height: 100vh;
  display: flex;
}
@supports (-webkit-touch-callout: none) {
  .auth {
    min-height: -webkit-fill-available;
  }
}
.auth__message {
  margin-top: 60px;
}
.auth__intro, .auth__content {
  flex: 1;
  padding: 0 30px;
}
.auth__intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--auth-intro-bg);
  gap: 50px;
}
.auth__intro-text {
  color: var(--auth-intro-text-color);
  max-width: 412px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.44;
  text-align: center;
}
@media (max-width: 767.98px) {
  .auth__intro-text {
    font-size: 1.5rem;
  }
}
.auth__intro-img {
  max-width: 100%;
  width: var(--width);
}
.auth__intro-logo {
  position: absolute;
  top: 80px;
  left: 50%;
  translate: -50% 0;
}
.auth__intro-next {
  position: absolute;
  bottom: 80px;
  left: 50%;
  translate: -50% 0;
}
.auth__content {
  background-color: var(--auth-content-bg);
}
@media (max-width: 767.98px) {
  .auth__content.hide {
    translate: 100%;
  }
}
@media (max-width: 767.98px) {
  .auth__content {
    position: fixed;
    inset: 0;
    z-index: 1;
    transition: translate 0.3s;
    overflow-y: auto;
  }
  .auth__content.hide {
    translate: 100%;
  }
  .auth__content.show {
    translate: 0;
  }
}
.auth__content-inner {
  width: min(460px, 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}
@media (max-width: 767.98px) {
  .auth__content-inner {
    padding: 32px 0;
  }
}
.auth__heading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.46;
  margin-top: 50px;
  color: var(--auth-heading-color);
}
@media (max-width: 767.98px) {
  .auth__heading {
    font-size: 2.2rem;
    margin-top: 40px;
  }
}
.auth__desc {
  color: #9e9da8;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.46;
  padding: 0 20px;
}
@media (max-width: 767.98px) {
  .auth__desc {
    font-size: 1.4rem;
  }
}
.auth__form {
  margin-top: 30px;
  width: 100%;
}
.auth__form-forgot {
  margin-top: 10px;
}
.auth__link {
  color: #0071dc;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
}
@media (max-width: 767.98px) {
  .auth__link {
    font-size: 1.4rem;
  }
}
.auth__btn-group {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .auth__btn-group {
    margin-top: 40px;
    gap: 20px;
  }
}
.auth__btn {
  width: 100%;
}
.auth__text {
  color: #9e9da8;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.44;
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .auth__text {
    font-size: 1.4rem;
    margin-top: 20px;
  }
}
.auth__text-link {
  font-size: inherit;
}
@media (max-width: 767.98px) {
  .auth__text-link {
    font-size: 1.4rem;
  }
}
@media (max-width: 767.98px) {
  .auth__logo {
    width: 60px !important;
    height: 60px !important;
  }
}

.home__container {
  margin-top: 40px;
}
@media (max-width: 767.98px) {
  .home__container {
    margin-top: 30px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 46px;
  padding: 0 20px;
  background-color: #f8f8f8;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.44;
  border-radius: 6px;
}
.btn + .btn:not(.btn--no-margin) {
  margin-left: 20px;
}
@media (max-width: 991.98px) {
  .btn + .btn:not(.btn--no-margin) {
    margin-left: 10px;
  }
}
.btn--text {
  color: #9e9da8;
  background-color: transparent;
}
.btn--primary {
  background-color: var(--btn-primary-bg);
  color: inherit;
}
.btn--outline {
  background-color: transparent;
  border: 1px solid #d2d1d6;
}
.btn--rounded {
  border-radius: 999px;
}
.btn--danger {
  background-color: rgb(231, 58, 58);
  color: #fff;
}
.btn[disabled], .btn--disable {
  opacity: 0.5;
  pointer-events: none;
}
.btn:hover {
  opacity: 0.9;
}

.logo__img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .logo__img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 575.98px) {
  .logo__img {
    margin-left: -10px;
  }
}
.logo__header {
  margin-right: 30px;
}
@media (max-width: 1399.98px) {
  .logo__header {
    margin-right: 20px;
  }
}

.search-bar {
  align-items: center;
  height: 50px;
  background-color: var(--search-bar-bg);
  border-radius: 20px;
  padding: 15px 0 15px 15px;
  display: flex;
  width: min(394px, 100%);
  margin-right: 5px;
}
@media (max-width: 767.98px) {
  .search-bar {
    height: 30px;
    padding: 10px 0 10px 10px;
  }
}
@media (max-width: 575.98px) {
  .search-bar {
    padding: 5px 0 5px 10px;
    margin-left: -15px;
  }
}
.search-bar__search {
  background-color: var(--search-bar-search-bg);
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
@media (max-width: 767.98px) {
  .search-bar__search {
    height: 30px;
  }
}
@media (max-width: 575.98px) {
  .search-bar__search {
    width: 30px;
  }
}
.search-bar__search:hover {
  opacity: 0.9;
}
.search-bar__input {
  height: 100%;
  flex: 1;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.42;
  background-color: transparent;
}
@media (max-width: 575.98px) {
  .search-bar__input {
    width: 120px;
  }
}
.search-bar__input::placeholder {
  color: #9d9d9d;
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .search-bar__input::placeholder {
    font-size: 1.2rem;
  }
}
.search-bar__submit {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.dropdown {
  display: none;
  width: min(300px, 100%);
  position: absolute;
  padding-top: 33px;
  z-index: 5;
  box-shadow: var(--box-shadow);
}
@media (max-width: 1199.98px) {
  .dropdown {
    padding-top: 0;
  }
}
.dropdown__inner {
  border: 2px solid var(--dropdown-inner-border);
  background: var(--dropdown-inner-bg);
  overflow: hidden;
  padding: 25px 40px 10px 8px;
}
@media (max-width: 1199.98px) {
  .dropdown__inner {
    height: 100%;
  }
}
@media (max-width: 1199.98px) {
  .dropdown {
    display: none;
  }
}
.dropdown.hide {
  visibility: hidden;
}

.avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
}
@media (max-width: 767.98px) {
  .avatar {
    width: 50px;
    height: 50px;
  }
}

.form:has(:invalid) .form__submit-btn {
  pointer-events: none;
  opacity: 0.5;
}
.form__group {
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .form__group {
    margin-top: 20px;
  }
}
.form__group--inline {
  display: flex;
  align-items: flex-start;
}
.form__group-term {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__text-input {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.1);
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__error,
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__input-icon--error {
  display: block;
  visibility: visible;
  filter: brightness(0) saturate(100%) invert(34%) sepia(73%) saturate(4164%) hue-rotate(338deg) brightness(98%) contrast(107%);
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__input-icon {
  display: none;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__input-icon--error {
  margin-left: 12px;
}
.form__text-area {
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #d2d1d6;
  font-size: 1.8rem;
}
.form__text-area:focus-within {
  border-color: #77dae6;
}
.form__text-area-input {
  width: 100%;
  resize: none;
}
.form__text-area-input::placeholder {
  font-size: 1.8rem;
  font-weight: 500;
}
.form__text-input {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 50px;
  padding: 12px;
  border: 1px solid #d2d1d6;
}
.form__text-input:focus-within {
  border-color: #77dae6;
}
@media (max-width: 767.98px) {
  .form__text-input {
    height: 48px;
  }
}
.form__input {
  background-color: transparent;
  height: 100%;
  flex: 1;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.44;
  outline: none;
  width: 100%;
}
.form__input-icon {
  margin-left: 12px;
}
.form__input-icon--error {
  width: 24px;
  display: none;
  animation: shake 0.8s;
}
@media (max-width: 767.98px) {
  .form__input {
    font-size: 1.6rem;
  }
}
.form__input:not(:placeholder-shown) ~ .form__holder {
  translate: 0 -25px;
  color: red;
}
.form__input:focus + .form__holder, .form__input:not(:placeholder-shown) + .form__holder {
  translate: 0 -28px;
  font-size: 1.5rem;
  color: rgba(158, 157, 168, 0.5);
}
.form__pull-right {
  margin-left: auto;
  display: flex;
  flex-shrink: 0;
}
.form__checkbox {
  user-select: none;
  position: relative;
  display: flex;
  align-items: flex-start;
}
.form__checkbox-label {
  color: #9e9da8;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
  margin-left: 29px;
  text-align: start;
}
@media (max-width: 767.98px) {
  .form__checkbox-label {
    font-size: 1.4rem;
  }
}
.form__checkbox::before, .form__checkbox::after {
  position: absolute;
  content: "";
}
.form__checkbox::before {
  width: 19px;
  height: 19px;
  border-radius: 5px;
  border: 1px solid #9e9da8;
  top: 5px;
}
.form__checkbox:has(:checked)::before {
  background-color: #ffb700;
  border-color: #ffb700;
}
.form__checkbox:has(:checked)::after {
  width: 15px;
  height: 8px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  rotate: -45deg;
  left: 2px;
  top: 8px;
}
.form__error {
  color: red;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 10px;
  visibility: hidden;
}
.form__label {
  color: var(--filter-form-label-color);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.45;
}
.form__label--small {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.4rem;
  line-height: 1.42;
}
.form__label--medium {
  font-size: 1.8rem;
  margin-bottom: 20px;
  display: inline-block;
}
.form__select-wrap {
  border-radius: 6px;
  border: 1px solid #d2d1d6;
  height: 45px;
  display: flex;
  align-items: center;
}
.form__select {
  color: var(--filter-form-select-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.42;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: var(--width, 108px);
  height: calc(100% - 10px);
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .form__select {
    flex: 1;
  }
}
.form__select + .form__select {
  border-left: 1px solid #d2d1d6;
}
.form__tags {
  display: flex;
  gap: 10px 20px;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 575.98px) {
  .form__tags {
    gap: 10px;
  }
}
.form__tag {
  border-radius: 6px;
  background: var(--form-tag-bg);
  color: #9e9da8;
  padding: 6px 12px;
  transition: color 0.25s;
}
.form__tag:hover {
  color: var(--text-color);
}
.form__row {
  display: flex;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .form__row {
    gap: 20px;
  }
}
@media (max-width: 575.98px) {
  .form__row {
    flex-direction: column;
    gap: 0;
  }
}
.form__row > * {
  flex: 1;
}
.form__select-dialog {
  position: absolute;
  background-color: var(--modal-bg);
  bottom: 50px;
  left: 0px;
  max-height: 310px;
  border: 1px solid #d2d1d6;
  border-radius: 10px;
  padding: 10px 0 10px;
  display: flex;
  flex-direction: column;
  min-width: 230px;
  opacity: 0;
  visibility: hidden;
  translate: 0 8px;
  transition: opacity visibility translate;
  transition-duration: 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.form__select-dialog.show {
  translate: 0;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 575.98px) {
  .form__select-dialog {
    position: fixed;
    max-height: initial;
    inset: 0;
    z-index: 1;
    overflow: auto;
  }
}
.form__search {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 5px 20px 10px;
  border-bottom: 1px solid #d2d1d6;
  height: 38px;
}
.form__search-icon {
  width: 19px;
  margin-left: 10px;
}
@media (max-width: 575.98px) {
  .form__search-icon {
    margin-left: 0px;
  }
}
.form__search-input {
  flex: 1;
  height: 100%;
  background-color: transparent;
}
@media (max-width: 575.98px) {
  .form__search-input {
    padding-left: 10px;
  }
}
@media (max-width: 575.98px) {
  .form__search {
    flex-direction: row-reverse;
    border: 1px solid #d2d1d6;
    margin: 10px 20px 0;
    border-radius: 10px;
  }
}
.form__option-list {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
  overscroll-behavior: contain;
}
.form__option {
  padding: 8px 20px;
  font-size: 1.4rem;
}
@media (max-width: 991.98px) {
  .form__option {
    padding: 14px 20px;
  }
}
.form__option:not(.form__option--current):hover {
  background-color: var(--form-option-hover-bg);
  cursor: pointer;
}
.form__option--current {
  background-color: rgba(255, 183, 0, 0.3);
  font-weight: 500;
}
.form__dialog-heading {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  padding: 10px 0;
}
.form__holder {
  position: absolute;
  color: #9e9da8;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.46;
  transition-property: translate color;
  transition-duration: 0.3s;
  top: 50%;
  translate: 0 -50%;
  pointer-events: none;
}

.slideshow {
  --color: #fff;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slideshow__inner {
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease;
}
.slideshow__item {
  position: relative;
  flex-shrink: 0;
  padding-top: 34%;
  min-width: 100%;
  display: none;
}
@media (max-width: 767.98px) {
  .slideshow__item {
    padding-top: 50%;
  }
}
.slideshow__item.active {
  display: block;
}
.slideshow__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 767.98px) {
  .slideshow__img {
    object-fit: contain;
  }
}
.slideshow__page {
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
  width: 16%;
  translate: -50% 0;
}
@media (max-width: 767.98px) {
  .slideshow__page {
    gap: 10px;
  }
}
.slideshow__slider {
  width: 50%;
  height: 4px;
  background: var(--color);
  flex-shrink: 0;
}
.slideshow__slider::before {
  left: 0;
  translate: 195% -50%;
}
.slideshow__slider::after {
  right: 0;
  translate: 386% -50%;
}
.slideshow__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.slideshow__button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.slideshow__button {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideshow__button:hover {
  opacity: 0.9;
}
@media (max-width: 767.98px) {
  .slideshow__button {
    width: 20px;
    height: 30px;
  }
}

.film-card {
  height: 100%;
  padding: 16px;
  border-radius: 20px;
  background: var(--film-card-bg);
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  opacity: 0.9;
  transition-property: opacity scale;
  transition-duration: 0.4s;
  display: flex;
  flex-direction: column;
}
.film-card__overlay {
  background-color: rgb(0, 0, 0);
  inset: 0 0 0 0;
  position: fixed;
  display: none;
  opacity: 0;
}
.film-card:hover {
  scale: 1.05;
  position: relative;
  z-index: 2;
  opacity: 1;
}
.film-card:hover + .film-card__overlay {
  z-index: 1;
  display: block;
  opacity: 0.5;
}
.film-card__img-wrap {
  padding-top: 100%;
  position: relative;
  height: 300px;
}
.film-card__thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.film-card__title {
  margin-top: 16px;
  color: var(--film-card-color);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 10px;
}
.film-card__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-top: auto;
}
@media (max-width: 1199.98px) {
  .film-card__row {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 1199.98px) {
  .film-card__row {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 575.98px) {
  .film-card__row {
    flex-direction: row;
  }
}
.film-card__more, .film-card__book {
  font-family: "Clash Display";
  font-size: 1.5rem;
  background-color: orange;
  border-radius: 5px;
  color: var(--film-card-more-color);
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0 5px;
  transition: background-color 0.3s;
}
@media (max-width: 1399.98px) {
  .film-card__more, .film-card__book {
    width: 105px;
    gap: 3px;
    white-space: nowrap;
  }
}
@media (max-width: 1199.98px) {
  .film-card__more, .film-card__book {
    width: 80%;
  }
}
.film-card__more {
  background-color: #f57c00;
  background-size: 200%;
  background-position: left;
  transition: background-position 0.4s, background-color 0.4s;
}
.film-card__more-icon {
  width: 20px;
  height: 20px;
}
.film-card__more:hover {
  background-image: linear-gradient(90deg, #f57c00, #ff5722);
  background-position: right;
}
.film-card__more:hover .film-card__more-icon {
  opacity: 0.9;
}
.film-card__book {
  background-color: #db3139;
  background-size: 200%;
  background-position: left;
  transition: background-position 0.4s, background-color 0.4s;
}
.film-card__book-icon {
  width: 20px;
  height: 20px;
}
.film-card__book:hover {
  background-image: linear-gradient(90deg, #b82028, #e2553e);
  background-position: right;
}
.film-card__book:hover .film-card__book-icon {
  opacity: 0.9;
}

/*# sourceMappingURL=main.css.map */
