@use "../abstracts";
.booking {
  position: relative;
  margin-top: 20px;
  background: var(--screen-inner-bg);
  background-size: cover;
  opacity: 0.8;
  border-radius: 10px;
  padding: 10px;
  @include abstracts.screen(md) {
    padding: 0;
  }
  height: auto;
  &__title {
    text-align: center;
    &-screen {
      @include abstracts.screen(md) {
        padding-top: 3px;
        font-size: 1.6rem;
      }
    }
  }

  &__doorleave {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-img {
      width: 35px;
      height: 35px;
      filter: var(--booking-doorleave-filter);
    }
  }
  &__light {
    rotate: 180deg;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: calc(40% - 50px);
    filter: var(--screen-top-filter);
  }
  &-details {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #95dad2;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    @include abstracts.screen(md) {
      flex-direction: column;
      gap: 10px;
      font-size: 1.2rem;
    }
  }
  &__confirm {
    width: max(200px, 30%);
    @include abstracts.screen(md) {
      width: 100%;
    }
  }
  &__light {
    position: absolute;
    top: 5px;
    left: 35%;
    rotate: 90deg;
    background-color: transparent;
    filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(3725%)
      hue-rotate(59deg) brightness(107%) contrast(88%);
    @include abstracts.screen(lg) {
      width: 30px;
      height: 30px;
    }
    @include abstracts.screen(md) {
      width: 20px;
      height: 20px;
    }
    @include abstracts.screen(sm) {
      width: 15px;
      height: 15px;
    }
  }
  &__light-1 {
    @include abstracts.screen(sm) {
      top: 2px;
      left: 32%;
    }
  }
  &__light-2 {
    left: 60%;
    @include abstracts.screen(lg) {
      top: 3px;
    }
    @include abstracts.screen(md) {
      left: calc(60% + 15px);
      top: 5px;
    }
  }
  &__light-3 {
    left: 70%;
    top: 20px;
    @include abstracts.screen(lg) {
      top: 12px;
    }
    @include abstracts.screen(md) {
      top: 13px;
      left: 73%;
    }
    @include abstracts.screen(sm) {
      top: 7px;
    }
  }
  &__light-4 {
    left: 25%;
    top: 20px;
    @include abstracts.screen(lg) {
      top: 12px;
    }
    @include abstracts.screen(sm) {
      top: 6px;
    }
  }
  &__screen {
    filter: var(--screen-top-filter);
  }
  &__confirm-payment {
    display: flex;
  }
}
.booking-item {
  color: red;
}
#bookingInfo {
  font-size: 2rem;
  width: max(300px, 60%);
  color: red;
  display: flex;
  line-height: 1.3;

  padding: 5px;
  @include abstracts.screen(lg) {
    gap: 10px;
    font-size: 1.5rem;
    line-height: 1.3;
  }
  @include abstracts.screen(md) {
    width: 100%;
  }
  @include abstracts.screen(sm) {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}
#totalAmount {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
#countdown {
  color: red;
}

.screen__top {
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  filter: var(--screen-top-filter);
}

.seat.selected {
  background-color: #6c63ff;
}

.seat.occupied {
  background-color: #444;
  cursor: not-allowed;
}

/// light
.light {
  opacity: 0;
  animation: flash 6s infinite;
}
.projection {
  animation: rotate 6s infinite;
}
.screen__light-wrap {
  position: relative;
  top: 0;
}

////////
