@use "../abstracts";
.showtime {
  margin-top: 30px;
  width: 100%;
  &__movie-schedule-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
  }
  &__movie-block {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
    @include abstracts.screen(sm) {
      width: 100%;
    }
  }
  &__showtimes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
  }
  &__tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    flex-wrap: wrap;
    gap: 10px;
  }

  &__tab-button {
    background-color: #e0e0e0;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;

    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
    @include abstracts.screen(xxl) {
      width: max(calc(100% / 9));
    }
    @include abstracts.screen(xl) {
      width: max(calc(100% / 5));
    }
    @include abstracts.screen(md) {
      width: max(calc(100% / 5));
    }
    @include abstracts.screen(sm) {
      width: max(calc(100% / 2.5));
    }
  }

  &__tab-button.active {
    background-color: #ffcc00;
    color: #222;
  }
}

.schedule-content {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: var(--schedule-content-color);
}

.movie-list {
  display: grid;
  gap: 20px;
}

.movie-title {
  font-size: 18px;
  color: #ff6600;
  margin-bottom: 8px;
}

.showtime-button {
  background-color: #ffcc00;
  border: none;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #222;
  border-radius: 5px;
  width: min(120px, 100%);
}

.showtime-button.past {
  background-color: #ccc;
  cursor: not-allowed;
}

.movie-subtitle {
  font-size: 1.6rem;
  color: #666;
  margin-top: 4px;
  color: blue;
}

.movie-description {
  font-size: 1.5rem;
  color: #555;
  margin-top: 4px;
}
.showtime-button.past {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6; /* Add some transparency */
}

.nav-button {
  background-color: #e0e0e0;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: #ffcc00; /* Highlight on hover */
}
