@use "../abstracts";
html {
  --text-color: #676a6c;
  --body-bg: #fff;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(19%)
    saturate(2039%) hue-rotate(210deg) brightness(97%) contrast(96%);
  // top bar
  --top-bar-bg: #fff;
  // button
  --btn-primary-bg: rgb(183, 202, 209);
  //   search-bar
  --search-bar-bg: #ececec;
  --search-bar-search-bg: #f2f2f2;

  // navbar
  --navbar-arrow-filter: brightness(0) saturate(100%) invert(0%) sepia(71%)
    saturate(7463%) hue-rotate(103deg) brightness(97%) contrast(107%);
  --navbar-hover-color: #ebebeb;
  --navbar-side-bar-bg: #fff;
  --navbar-return-bg: #b7cad1;
  // 81d8d0
  --navbar-top-filter: brightness(0) saturate(100%) invert(94%) sepia(7%)
    saturate(511%) hue-rotate(154deg) brightness(96%) contrast(80%);
  //  dropdown
  --dropdown-inner-bg: url(../img/dropdown/bg-themes-light.jpg) repeat scroll
    center center rgba(0, 0, 0, 0);
  --dropdown-inner-border: #c4d6dc;
  // footer
  --footer-bg: #fbfbfb;
  --footer-heading-color: #020000;
  // 
   --box-shadow: box-shadow: 0px 17px 55px 0px rgba(96, 100, 100, 0.05);
  // act dropdown
  --act-dropdown-bg: #fff;
  --act-dropdown-shadow: rgba(200, 200, 200, 0.4);
  --act-dropdown-title-color: #1a162e;
  --act-dropdown-bottom-border: #d2d1d6;
  --act-dropdown-arrow-filter : brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(3%) hue-rotate(104deg) brightness(101%) contrast(104%);
  //separate
  --separate-color: #292e39;
    // film card
    --film-card-bg: #ebebeb;
    --film-card-color: #1a162e;
    --film-card-more-color : #000;
}
